<div *ngIf="data.boxtype==='share'">
  <h2 mat-dialog-title>Share Dialog</h2>
  <div mat-dialog-content >
    <p>Share Link: {{ data.shareLink }}
      <button mat-mini-fab color="accent"
      [cdkCopyToClipboard]="data.shareLink" (click)="copymsg()" aria-label="Copy to Clipboard">
        <mat-icon>file_copy</mat-icon>
    </button>
    </p>

    <!-- <p>Share Link: {{ data.shareCode }}
      <button mat-mini-fab color="accent"
      [cdkCopyToClipboard]="data.shareCode" aria-label="Copy to Clipboard">
        <mat-icon>file_copy</mat-icon>
    </button>
    </p> -->

  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onClose()">Close</button>
  </div>
</div>
<div *ngIf="data.boxtype==='otp'" >
  <form [formGroup]="otpForm">
      <h1>Enter the OTP sent to the mail</h1>
      <ng-otp-input for  (onInputChange)="onOtpChange($event)" [config]="{length:6,isPasswordInput:true}"></ng-otp-input>
  </form>
  <!-- <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:5}"></ng-otp-input> -->
</div>
