:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
}
mat-drawer-container {
  height: 100%;
}
img{
  border-radius:50% ;
}
mat-drawer {
  background-color: #212121;

}
