
<body>
    <main>

        <div id="content">
            <div id="content-text">
                <h1><span>Share</span><br> <u>..Te</u>xts</h1>
                <h2>To get more features like rich text editor, secure data storage and
                  secure transfer with encryption..
                </h2>
                <button (click)="onclickReg()"> Signup </button>
                <button (click)="onclickAnonymous()">Anonymous <mat-icon>send</mat-icon></button>
            </div>
            <img class="header-image" src="../../assets/images/img1.png" alt="a business man standing and smiling">

        </div>
    </main>

</body>
